@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; /* 👈 This fixes the zooming/menu issue */
  max-width: 100vw;
  background-color: #0c0e12; /* Matches gow-bg */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0c0e12; 
}
::-webkit-scrollbar-thumb {
  background: #3e4653; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #982828; 
}
@keyframes shine {
  from { transform: translateX(-200%); }
  to { transform: translateX(300%); }
}

.animate-shine {
  animation: shine 2s linear infinite;
}